# Predicting Diameter and Potential Harm of Asteroids using Machine Learning

**Authors** :
Colin Campbell (c_c953), Jake Worden (jrw294), Leah Lewis (lrl68) and Ryan Wakabayashi (rjw102)

This uses the Asteroid dataset:  https://www.kaggle.com/basu369victor/prediction-of-asteroid-diameter

## Setup

Load python packages for data prepartion and analysis.

In [4]:
import pandas as pd

## Read Data
Load the asteroid dataset into a dataframe

In [6]:
df= pd.read_csv("Asteroid_Updated.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839714 entries, 0 to 839713
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            21967 non-null   object
 1   a               839712 non-null  float64
 2   e               839714 non-null  float64
 3   i               839714 non-null  float64
 4   om              839714 non-null  float64
 5   w               839714 non-null  float64
 6   q               839714 non-null  float64
 7   ad              839708 non-null  float64
 8   per_y           839713 non-null  float64
 9   data_arc        824240 non-null  float64
 10  condition_code  838847 non-null  object
 11  n_obs_used      839714 non-null  int64
 12  H               837025 non-null  float64
 13  neo             839708 non-null  object
 14  pha             823272 non-null  object
 15  diameter        137636 non-null  object
 16  extent          18 non-null      object
 17  albedo          136409 non-null  float64
 18  rot_per         18796 non-null   float64
 19  GM              14 non-null      float64
 20  BV              1021 non-null    float64
 21  UB              979 non-null     float64
 22  IR              1 non-null       float64
 23  spec_B          1666 non-null    object
 24  spec_T          980 non-null     object
 25  G               119 non-null     float64
 26  moid            823272 non-null  float64
 27  class           839714 non-null  object
 28  n               839712 non-null  float64
 29  per             839708 non-null  float64
 30  ma              839706 non-null  float64
dtypes: float64(21), int64(1), object(9)
memory usage: 198.6+ MB